.title-two {
  margin: 4.7rem auto 0;  
  font-size: 2.8rem;
  text-transform: uppercase;
  color: $a-title;
  text-align: center;

  &__end{
    color: $a-title-end;
  }
  &::after{
    content: '';
    width: 33.7rem;
    height: .1rem;
    background-color: #adadad;
    display: block;
    margin: .8rem auto 0;
  }
}

.subtitle {
  max-width: 52.8rem;
  text-align: center;
  font-size: 2.0rem;
  line-height: 2.5rem;
  color: $a-subtitle;
  margin: 2rem auto 5.4rem;
}

.next-slider-btn{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: block;
  margin: 2rem auto 7.2rem;
  background-color: #fc635e;
  border: none;
  outline: none;
  box-shadow: 0 0 10px 3px #b5b6b3;
 
  &::before, &::after{
    content: '';
    display: block;
    margin: 0 auto;

    border-width: .2rem;
    border-style: solid;
    border-left: none;
    border-top: none;
    border-color: #fff;
  }

  &::before{
    width: 0;
    height: 2rem;
    border-bottom: none;
    transform: translateY(.5rem);
  }

  &::after{
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    transform: translateY(-.5rem) rotate(45deg);
  }

  &--bg-off{//доп класс
    background-color: transparent;
    border: 1px solid #fc635e;
    &::after, &::before{ border-color: #fc635e; }
  }

  &:hover{
    cursor: pointer;
    background-color: #fff;
  }
}

.description {
  padding: 2.8rem 5.1rem;
  &__title {
    font-size: 2.8rem;
    line-height: 4rem;
    color: #2d2c2c;
    
    &::before, &::after{
      content: '';
      display: inline-block;
      width: 1rem;
      height: 4rem;
      margin-right: 1.7rem;
      background-color: #f96763;}
    &::after{ display: none;}
  }
  &__text {
    font-size: 1.6rem;
    color: #9e9898;
    line-height: 2.5rem;
  }

  &--right{//доп класс
      text-align: right;
      .description__title{
        &::before{ display: none; }
        &::after{ display: inline-block; margin: 0 0 0 1.7rem; }
      }
  }
}

/*#####--------<{ stylization scroll }>--------########*/
::-webkit-scrollbar{
  width: 11px;
}
::-webkit-scrollbar-button {
  width:6px;
  height:2px
}
  
::-webkit-scrollbar-track {
  background-color:#32312e;
  border-radius: 5px;
  box-shadow:0px 0px 3px #000 inset;
}
  
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#7e7e7eb0;
  box-shadow:0px 1px 1px #8b8b8b inset;
}
  
::-webkit-resizer{
  width:7px;
  height:0px
}
  
