@import 'config/fonts';
@import 'lib/normalize';
@import 'lib/preloader';
:root{
  font-size: 10px;
}

@import 'config/colors';
@import 'config/vars';
@import 'config/pattern';//%flexCenter, %flexRowBetween
@import 'config/mixins';

body{
  background-color: #181818;
  font-family: 'MyriadPro-Regular', serif;
}
/*_vars.scss*/
.container{
  max-width: $c-size;
  margin: 0 auto;
  padding: 0 $c-padding;
  
  height: 100%;
  overflow: hidden;
  position: relative;
}



@import './general-style';
@import './lib/popup';

@import './parts/header/header';
@import './parts/main';
@import './parts/advantages/advantages';
@import './parts/section-mail/section-mail';
@import './parts/steps';
@import './parts/quality/quality';
@import './parts/instagram/slider-Inst';
@import './parts/y-map.scss';


