.advantages{
  background: $a-bg;
}

.cards{
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.card {
  max-width: 25.4rem;
  display: block;
  text-align: center;
  
  &__icon {
    max-width: 10rem;
    filter: drop-shadow(0 0 15px rgb(141, 139, 139));
  }
  &__title {
    font-size: 2rem;
    color: #868686;
    margin-top: 2.1rem;
    &::after{
      content: '';
      width: 5.7rem;
      height: 0.1rem;
      display: block;
      margin: .9rem auto 0;
      background-color: #cecece;//

    }
  }
  &__text {
    align-self: baseline;
    font-size: 1.6rem;
    color: #adadad;
    text-align: center;
    padding: 0 1rem;
  }

  // border: 1px solid cadetblue;
}
