.quality{
  background-color: #f2f2f2;
  padding: 10px 0 ;
  position: relative;
  z-index: 0;//не убирать, иначе слайдер перестаёт работать т.к. не видит _isElementVisible
  
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
   
  }
  &__wrap-img{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  &__box-img {
    border: 2px solid blueviolet;
    text-align: center;
    flex: 0 0 50%;
    position: relative;
    padding-top: 160px * 50% / 292px;
    
    
    &--one{//способн.цены
     
    }
    &--two{//ответственность
      &::after{
        content: attr(data-text);
        position: relative;
        left: 0;
        bottom: 0;
        font-family: "MyriadPro-BoldIt", serif;
        font-size: 1.8rem;
        color: #686464;
        min-height: max-content;
      }
      
    }
    &--three{//сроки 
    }
    &--four{// гарантия
    }
   }
  &__svg{
    position: absolute;
    
   
    top: 0;
    left: 0;
    // margin: 0 auto;
    width: 60%;
    // max-height: 160px * 150% / 292px;
    height: 50%;
    border: 1px solid cadetblue;
    filter: drop-shadow(0 0 10px rgba($color: #000000, $alpha: .5)) sepia(20%);
    &--one{
    }
    &--two{
    
    }
    &--three{
    }
    &--four{
    }
  }
  &__svg-use {

    // stroke: aqua;
  }
  &__img-text {
    position: relative;
    bottom: 0;
   

    font-family: "MyriadPro-BoldIt", serif;
    font-size: 1.8rem;
    color: #686464;
    display: block;
  }
 
}


@import './sliders/slider';