.slider {
 
  position: relative;//адаптивная высота
  padding-top: 610px * 100% / $c-size-content; //$c-size-content 1200 - 15 * 2.
  overflow: hidden;


  &__items {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: calc(100% - 2.5rem);//под индикаторы
    
    display: flex;
    transition: transform 2s ease;
    
  
  }
  &__item {
    flex: 0 0 100%;
    position: relative;
    z-index: -2;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
    & p{ font-size: 1.8rem; }
  
   &::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,rgba(10, 10, 10, .2) 20%, #fff 60%) !important;
   }

   &--one{ background-position: -28% 0%; }
   &--two{
    & p{ max-width: 45.5rem; }
   }
   &--three{
     background-position: 295%;
     justify-content: start;
     & p{ max-width: 37.5rem; }
     &::before{ transform: scaleX(-1); }
   }
   &--four{}
   &--five{}
  }
  
  &__indicators {
   
    position: absolute;
    left: 0; right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
   
   
    & li{
      width: 1.4rem;
      height: 1.4rem;
     
      border-radius: 50%;
      cursor: pointer;
      background-color: $q-indicators;
      opacity: .5;
      transition: opacity .6s ease;
      &+li{ margin-left: 10px; }
    }
    & li.active { opacity: 1; }

  }

}















/*
.slider {
  padding: 10px 0 ;
  background-color: #F2F2F2;
  position: relative;
  z-index: 0;//не убирать, иначе слайдер перестаёт работать т.к. не видит _isElementVisible
  &__inner {
    //адаптивная высота
    position: relative;
    padding-top: 610px * 100% / $c-size-content; //$c-size-content 1200 - 15 * 2.
    overflow: hidden;
  }
  &__items {
    position: absolute;
    top: 0;
    max-width: 100%;
    height: calc(100% - 3rem);//под индикаторы
    
    display: flex;
    transition: transform 2s ease;
    // border: 1px solid blueviolet;
  
  }
  &__item {
    flex: 0 0 100%;
    position: relative;
    z-index: -2;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & p{ font-size: 1.8rem; }
  
   &::before{
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg,rgba(10, 10, 10, .2) 20%, #fff 60%) !important;
   }

   &--one{ background-position: -28% 0%; }
   &--two{
    & p{ max-width: 45.5rem; }
   }
   &--three{
     background-position: 295%;
     justify-content: start;
     & p{ max-width: 37.5rem; }
     &::before{ transform: scaleX(-1); }
   }
   &--four{}
   &--five{}
  }
  
  &__indicators {
    position: relative;
    bottom: .7rem;
    width: 15rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    & li{
      display: inline-block;
      width: 14px;
      height: 14px;
     
      border-radius: 50%;
      cursor: pointer;
      background-color: #d43e3e;
      opacity: .5;
      transition: opacity .6s ease;
    }
    & li.active {
      opacity: 1;
    }

  }

}


*/