.main {
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #555;
  background-blend-mode: multiply;
  padding-top: 9rem;

}

.main__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main__top { margin-top: .5rem; }
.logo { max-width: 14rem; }

.main__middle { padding-top: 6.5rem; }
.main__title {
  font-family: 'PFEncoreSansPro-Bold', serif;
  font-size: 5.7rem;
  text-transform: uppercase;
  color: $h1title;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid cadetblue;
  &-start { color: $h1title-pref; }

  &::before,
  &::after {
    content: '';
    width: 10.7rem;
    height: .8rem;
    background: #fff;
    opacity: .2;
    display: block;
  }
  &::before { margin-right: 1.8rem; }
  &::after { margin-left: 1.8rem; }
  
}

.main__slogan {
  font-family: 'PFEncoreSansPro-Medium', serif;
  font-size: 1.8rem;
  padding-top: 18.6rem;
  text-transform: uppercase;
  text-align: center;
  color: $headSlogan;
  letter-spacing: .1rem;
}

.main__bottom {
  // border: 1px solid blueviolet;
  
}




