.quality{
  background-color: #f2f2f2;
  padding: 10px 0 ;
  position: relative;
  z-index: 0;//не убирать, иначе слайдер перестаёт работать т.к. не видит _isElementVisible
  
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  &__wrap-img{
    width: 50%;
 
    display: flex;
    flex-wrap: wrap;
  }
  &__box-img {
    text-align: center;
// border: 1px solid #000;
    &--one{//сроки 
      order: 1;
      margin-left: -11rem;
     
      margin-top: 1rem;}
    &--two{// гарантия
      order: 0;
      flex-basis: 28%;
      margin-top: 7.2rem;}
    &--three{//ответственность
      order: 1;
      flex-basis: 98%;
      margin-top: 2.4rem;}
    &--four{//способн.цены
      order: 0;
      flex-basis: 71%;
      margin-top: 4.9rem;}
  }
  &__small-img {
    mix-blend-mode: multiply;
    margin-bottom: 1.5rem;
    
  }
  &__img-text {
    font-family: "MyriadPro-BoldIt", serif;
    font-size: 1.8rem;
    color: #686464;
    display: block;
    
  }
 
}


