//main
$iconSocial: #49535c;
$phone: #656b6f;
$h1title-pref: #fc645f;
$h1title: #eff1f1 ;
$headSlogan: #f2f2f2;
//advantages
$a-bg: #fff;
$a-title: #868686;
$a-title-end: #f96763;
$a-subtitle: #adadad;

