@import 'config/fonts';
@import 'lib/normalize';
:root{
  font-size: 10px;
}

@import 'config/colors';
@import 'config/vars';
@import 'config/pattern';//%flexCenter, %flexRowBetween
@import 'config/mixins';

body{
  background-color: #16171D;
  font-family: 'MyriadPro-Regular', serif;
}
/*_vars.scss*/
.container{
  max-width: $c-size;
  margin: 0 auto;
  padding: 0 $c-padding;
  border: 1px solid red;
  height: 100%;
  // overflow: hidden;
  position: relative;
}

header, section, footer {
  // max-width: 1920px;
  // margin: 0 auto;
}

@import './general-style';


@import './parts/main';
@import './parts/header';
@import './parts/advantages/advantages';
@import './parts/city';
@import './parts/steps';
@import './parts/quality';
@import './parts/slider/slider';
@import './parts/slider/slider-Inst.scss';


// @import './@media.scss';