@import 'config/colors';
@import 'config/vars';
@import 'lib/normalize';
@import 'config/fonts';
@import 'config/pattern';//%flexCenter, %flexRowBetween
@import 'config/mixins';

body{
  background-color: #16171D;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  border: 3px solid red;
}

@import './parts/header/main'