//price-list-table
$pl-bg : #161515;
//header

//--burger
$burg-no-active: #b9b9b9;
$burg-active: #f88181;

//main
$iconSocial: #49535c;
$phone: #cfcdcd;
$h1title-pref: #fc645f;
$h1title: #eff1f1 ;
$headSlogan: #f2f2f2;

//advantages
$a-bg: #fff;
$a-title: #868686;
$a-title-end: #f96763;
$a-subtitle: #adadad;

//section-mail
$m-title:#1d5183;
$m-label: #c86969;
$m-item-txt: #b8b8b8;
$m-btn-txt: #318ce7c4;

//quality
$q-indicators: #d43e3e;

//inst-slider
$i-bg-s: #fff;
$i-indicators: #50C878;
$i-text: #262626;

