@mixin font-face($font-family, $url, $font-weight) {
	@font-face {
		font-family: '#{$font-family}';
		src: url('#{$url}/#{$font-family}.eot');/* IE9 Compat Modes */
		src: url('#{$url}/#{$font-family}.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
				 url('#{$url}/#{$font-family}.woff2') format('woff2'), /* Super Modern Browsers */
				 url('#{$url}/#{$font-family}.woff') format('woff'),  /* Pretty Modern Browsers */
				 url('#{$url}/#{$font-family}.ttf') format('truetype'), /* Safari, Android, iOS */
				 url('#{$url}/#{$font-family}.svg#C') format('svg'); /* Legacy iOS */
		font-weight: $font-weight;
		font-style: normal;

	
	}	
}
// Шрифты подключаются относительно папки css, а не scss 
/*
	Возможно нужно пересмотреть подключение шрифтов разных толщин. это всё можно контролировать через 
	font-weight
*/
@include font-face('Consolas', '../fonts/Consolas', normal);
@include font-face('GothamPro-Bold', '../fonts/GothamPro', normal);
@include font-face('MyriadPro-BoldIt', '../fonts/MyriadPro/BoldIt', normal);
@include font-face('MyriadPro-Regular', '../fonts/MyriadPro/Regular', normal);

@include font-face('PFEncoreSansPro-Bold', '../fonts/PFEncoreSansPro/Bold', normal);
@include font-face('PFEncoreSansPro-Light', '../fonts/PFEncoreSansPro/Light', normal);
@include font-face('PFEncoreSansPro-Medium', '../fonts/PFEncoreSansPro/Medium', normal);
@include font-face('PFEncoreSansPro-Thin', '../fonts/PFEncoreSansPro/Thin', normal);
@include font-face('TrueLies', '../fonts/TrueLies', normal);
