%flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
%flexRowBetween{
  display: flex;
  justify-content: space-between;
}
/*
  Шаблон подключается 
  @extend %flexCenter
*/