header{
  width: 100%;
  min-height: 100vh;

  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  background-color: #555;
  
  background-blend-mode: multiply;
}

.header__top {
  padding-top: 22px;
  display: grid; 
  grid-template: "logo phone whatsapp" 
                 "logo phone instagram"  auto /  1fr 1fr 1fr;

  /* autoprefixer имеет баг при использовании repeat(3, 1fr) в grid-template-columns;*/

}

.logo {
  grid-area: logo; 
  max-width: 14rem;
 
}

.header__phone {
  grid-area: phone;
  justify-self: center;

  font-family: "Consolas", serif;
  font-size: 2rem;
  
  color: $phone;
}
.grid-whatsapp{ grid-area: whatsapp;}
.grid-instagram{ grid-area: instagram;}

.header__social-link {
  
  display: grid;
  grid-template: auto / auto minmax(auto, 4.8rem);
  grid-column-gap: 16px;

  border: 1px solid #303770;
  /*
    autoprefixer не работает с justify-content и так же рекомендует использовать 
    justify-self на дочернем, вместо родительского justify-items
  */
}

.header__social-name {
  justify-self: end;
  align-self: center;
  font-size: 2rem;
  font-family: 'GothamPro-Bold', serif;
 
  &::after{
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    transform: translateY(2px);

    background: linear-gradient(90deg, #303770,  #3fc640);
  }
  &--whatsapp{
    
    background: linear-gradient(20deg, #303770 20%,  #3fc640);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // transform: translateY(3rem);
  }
  &--instagram{
  
    background: linear-gradient(20deg, #b52ca1 10%,  #fed655);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    &::after{
      background: linear-gradient(90deg, #b52ca1,  #fed655);
    }
  }

}

 .header__social-icon {  }//object 

._svg-icon--whatsapp,
._svg-icon--instagram{
  cursor: pointer;
  transition: all 1s linear;
  opacity: 1;
  fill: $iconSocial;
}
 
._svg-icon--whatsapp:hover .for-whatsapp-opacity{ opacity: 0;}//object

._svg-icon--whatsapp:hover  .for-whatsapp-opacity{
  // fill: #90e4a3;   
   
}


.header__middle {
  padding-top: 6.5rem;
  border: 1px solid blueviolet;
  
}

.header__title {
  font-family: 'PFEncoreSansPro-Bold', serif;
  font-size: 5.7rem;
  text-transform: uppercase;
  color: $h1title;

  display: grid;
  grid-template: auto / 1fr 1fr 1fr 1fr;
 
  border: 1px solid cadetblue;
  

  &-start{  color: $h1title-pref;  }
  &-end{
    grid-area: 2 / 2 / 2 / 4;
    justify-self: center;
  }
 
  &::before, &::after{
    content: '';
    grid-row: 2 span;
    align-self: center;
    justify-self: end;
    transform: translateX(-1.8rem);
    width: 10.7rem;
    height: .8rem;
    background: #fff;
    opacity: .2;
  }
  &::after{
    justify-self: start;
    transform: translateX(1.8rem);
  }

}

.header__slogan {
  font-family: 'PFEncoreSansPro-Medium', serif;
  font-size: 1.8rem;
  padding-top: 18.6rem;
  text-transform: uppercase;
  text-align: center;
  color: $headSlogan;
  letter-spacing: .1rem;
}

.header__bottom {


  border: 1px solid blueviolet;
}
.scroll-in-down {
}
.scroll-in-down__button {
}
.scroll-in-down--next {
}
.mouse-icon {
  max-width: 47px;
}

